body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}
.img1{
    height:400px;
    width:400px;
    border-radius:200px;
    border:5px white solid;
    margin-top:100px;

}

.row{
    display:flex;
    justify-content:space-evenly;
}
.img2{
    height:475px;
    width:575px;
    padding-top:25px;
    margin-bottom:10px;
    padding-left:10px;
    padding-right:10px;

}
.rand1{
  padding: 10px;
  margin:15px;
  background-color: black;
  color:white;
}
.topnav1{
    background-image:url("https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    width:auto;
    background-size: cover;
  background-repeat: no-repeat;
    height:550px;
    display:flex;
    font-family: 'Cabin', sans-serif;
    justify-content:center;
}
.topnav {
  overflow: hidden;
  background-color: black;
  display:flex;
  justify-content:space-evenly;
  padding-left:20px;
  padding-right:20px;

}
.candy{
  text-align: center;
}
.tit{
  font-size: 25px;
  margin:10px;
}
.title{
  text-align: center;
  font-size: 50px;
  font-family: 'Cabin', sans-serif;
  font-weight: bold;
  
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 18.5px;

}
.imgs{
  height: 425px;
  width:425px;
  border:3.4px black solid;
  
}
.mid1{
  display:flex;
  justify-content:space-evenly;
  margin-top: 15px;
}
.imgs:hover{
  filter: brightness(60%);
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.mid{
    height:1000px;
}
.pad{
    padding-left:30px;
    padding-top:10px;   
}
.pad1{
    padding-left:15px;
    padding-top:10px;  
}

.none1{
  text-decoration: none;
}
.under{
    text-decoration:underline;
}
.topnav a.active {
  background-color: red;
    color: white;}
.oni{
    margin-left:10px;
    margin-right:10px;
}